@import '../../utils.scss';

.experience {
  padding-top: 125px;

  &__header {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    .title-section {
      margin-bottom: 8px;
    }
    h3::before {
      @include before-circle;
    }
    h3::before {
      top: -6px;
      left: 50%;

      transform: translateX(-50%);
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  &__container {
    display: grid;

    padding: 60px 65px 0 71px;

    grid-template-columns: repeat(2, 425px);
    column-gap: 135px;
  }

  &__section {
    position: relative;

    &::after {
      position: absolute;
      z-index: -1;
      top: 13px;

      width: 1px;
      height: calc(100% - 20px);

      content: '';

      background-color: var(--black);
    }
  }

  &__subtitle {
    margin-left: 43px;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    &::before {
      position: absolute;
      top: 15px;
      left: -7px;

      width: 15px;
      height: 15px;

      content: '';
      transform: translateY(-50%);

      border-radius: 30px;
      background: var(--orange);
    }
  }

  &__item {
    position: relative;

    box-sizing: content-box;
    max-width: 375px;
    padding: 0 0 6px 43px;
  }

  &__content {
    margin-top: 45px;

    &::before {
      position: absolute;
      top: 18px;
      left: 0;

      width: 45px;
      height: 1px;

      content: '';

      background-color: var(--black);
    }

    &-header {
      position: relative;

      padding: 0 0 12px 56px;

      &__icon {
        position: absolute;
        left: 0;

        &::before {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;

          width: 36px;
          height: 36px;

          content: '';

          border-radius: 30px;
          background: var(--orange);
        }

        & svg {
          position: absolute;
          top: 14px;
          left: 17px;
        }
      }
    }
  }
}
