@import '../../utils.scss';

.experience {
  padding-top: 125px;

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-section {
      margin-bottom: 8px;
    }

    h3::before {
      @include before-circle;
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 135px;
    padding: 60px 65px 0 71px;
  }

  &__section {
    position: relative;

    &::after {
      position: absolute;
      top: 13px;
      z-index: -1;
      width: 1px;
      height: calc(100% - 20px);
      background-color: var(--black);
      content: '';
    }
  }

  &__subtitle {
    &::before {
      position: absolute;
      top: 15px;
      left: -7px;
      width: 15px;
      height: 15px;
      background: var(--orange);
      border-radius: 30px;
      transform: translateY(-50%);
      content: '';
    }

    margin-left: 43px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  &__item {
    position: relative;
    box-sizing: content-box;
    max-width: 375px;
    padding: 0 0 6px 43px;
  }

  &__content {
    margin-top: 45px;

    &::before {
      position: absolute;
      left: 0;
      top: 18px;
      width: 45px;
      height: 1px;
      background-color: var(--black);
      content: '';
    }

    &-header {
      position: relative;
      padding: 0 0 12px 56px;

      &__icon {
        position: absolute;
        left: 0;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 36px;
          height: 36px;
          background: var(--orange);
          border-radius: 30px;
          content: '';
        }

        & svg {
          position: absolute;
          left: 17px;
          top: 14px;
        }
      }
    }
  }
}
