.promo {
  position: relative;

  display: flex;
  justify-content: space-between;

  height: 800px;

  background-image: url('../../assets/Background.jpg');
}

.sidebar {
  &__item-str {
    width: 2px;
    height: 70px;

    background-color: var(--black);
  }

  &__list {
    display: inline-flex;
    align-items: center;
    flex-direction: column;

    padding: 226px 0 236px 50px;

    gap: 15px;
  }

  &__item-text {
    transform: rotate(180deg);

    font-weight: 700;

    writing-mode: vertical-lr;
  }

  &__link {
    svg {
      display: block;
    }
  }
}

.burger {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  padding: 20px 30px 0 0;

  cursor: pointer;

  gap: 6px;

  span {
    display: block;

    width: 30px;
    height: 3px;

    background-color: #151812;

    &:nth-child(2n) {
      width: 36px;
    }
  }
}
