* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import './styles/normalize.scss';

html,
body {
  position: relative;

  max-width: 1920px;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
ul,
li,
a,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  display: block;

  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;

  max-width: 100%;
}

.container {
  max-width: 1920px;
}

.page-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  max-width: 1140px;
  margin: auto;

  border: 1px solid var(--black);
}
.u-divider {
  width: 60px;
  height: 3px;

  background-color: var(--orange);
}
.page-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}
.title-section {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.title-block {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.page-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

:root {
  --orange: #ffa501;
  --black: #000000;
  --white: #ffffff;
  --grey: #c4c4c4;
}
